<div id="<%= dom_id document %>">
  <p>
    <strong>Title:</strong>
    <%= document.title %>
  </p>
  <% if document.pdf_file.attached? %>
    <p>
      <%= link_to "View PDF", url_for(document.pdf_file) %>
    </p>
  <% else %>
    <p>No PDF attached</p>
  <% end %>
</div>
