<div id="<%= dom_id document %>">
  <p>
    <strong>Title:</strong>
    <%= document.title %>
  </p>

  <% if document.pdf_file.attached? %>
    <p>
      <strong>File:</strong>
      <%= link_to "Download", url_for(document.pdf_file) %>
    </p>
  <% else %>
    <p>No file attached</p>
  <% end %>

</div>
